{{#each model.data.bookmarks as |bookmark|}}
    <div class="media-object stack-for-small">
        <div class="media-object-section">
            <div class="thumbnail">
                <a target="_blank" href="{{bookmark.url}}"><img src= "{{bookmark.thumbnail}}"></a>
            </div>
        </div>
        <div class="media-object-section">
            <h4><a target="_blank" href="{{bookmark.url}}">{{bookmark.title}}</a></h4>
            <p>{{bookmark.description}}</p>
        </div>
    </div>
{{/each}}

{{outlet}}
